.titulo
    padding: 3rem 0
    text-align: center
    
.torneos
    display: grid
    grid-template-columns: 25% 25% 25%
    justify-content: center
    gap: 2rem
    section
        border: solid black 2px
        background-image: url(/assets/images/repeating_vintage_paper_2.jpg)
        padding: 1rem