<h1>Iniciar Sesión</h1>
<form [formGroup]="formLogin">
    <!-- username -->
    <section class="form_group">
        <label for="username">Nombre de usuario</label>
        <input formControlName="username" id="username" type="text">
        <section [hidden]="username.valid || username.pristine" class="error">El usuario no es válido</section>
    </section>

    <!-- password -->
    <section class="form_group">
        <label for="password">Contraseña</label>
        <input formControlName="password" id="password" type="password">
        <section [hidden]="password.valid || password.pristine" class="error">La contraseña no es válida</section>
    </section>

    <!-- boton login -->
    <section class="form_group">
        <button [disabled]="formLogin.invalid" (click)="login($event)">Iniciar Sesión</button>
    </section>

    <section class={{tipoMensaje}}>
        {{errorLogin}}
    </section>
</form>
