<form [formGroup]="formPartida" class="create_partida">

    <section class="form_group">
        <label>Nombre</label>
        <input type="text" formControlName="nombre">
        <section class="error" [hidden]="nombre.valid || nombre.pristine">Su nombre no es valido</section>
    </section>

    <section class="form_group">
        <label>Fecha</label>
        <input type="date" formControlName="fecha">
        <section class="error" [hidden]="fecha.valid || fecha.pristine">Su fecha no es valido</section>
    </section>

    <section class="form_group">
        <label>Torneo</label>
        <select formControlName="torneosSelect">
            @for (torneo of torneos; track torneos) {
            <option value="{{torneo.id}}">{{torneo.nombre}}</option>
            }
        </select>
        <section class="error" [hidden]="torneosSelect.valid || torneosSelect.pristine">Debe elegir un torneo</section>
    </section>

    <section class="form_group">
        <label>Número Jugadores</label>
        <select formControlName="nJugadoresSelect" (change)="establecerNumeroJugadores()">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <section class="error" [hidden]="nJugadoresSelect.valid || nJugadoresSelect.pristine">{{nJugadoresSelect.value}}
        </section>
    </section>

    <section class="form_group">
        <button [disabled]="formPartida.invalid || partidaCreada" (click)="crearPartida()">CREAR PARTIDA</button>
    </section>

</form>

<form [formGroup]="formPartida" class="create_jugadas">

    <section class="participantes">
        @for (item of nJugadores; track $index) {
            <section class="form_group">
                <label> {{$index + 1}}º puesto</label>
                <select formControlName="participante{{$index+1}}" name="Jugadores" id="jugadores">
                    @for (jugador of jugadores; track $index) {
                        <option value="{{jugador.id}}">{{jugador.nombre}}</option>
                    }
                </select>
            </section>
        
            
            }
    </section>
    

    <section class="form_group btn_jugada">
        <button [disabled]="formPartida.invalid || !partidaCreada" (click)="crearJugadas()">AGREGAR PUNTUACIONES</button>
    </section>

    
    

</form>

